language: ruby
before_install:
  - "test -f ~/.ssh/id_rsa || ssh-keygen -b 4096 -t rsa -f ~/.ssh/id_rsa -P ''"
  - ssh -o StrictHostKeyChecking=no localhost "true"
rvm:
  - 2.0.0
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
