language: ruby
before_install:
  - ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no localhost "true" || sudo service ssh start || true
rvm:
  - 2.0.0
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
